*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    
  }
  
.heading{
     font-family:  "Playwrite BE VLG", serif;
}
.header1{
    font-family: "Satisfy", serif;

}
.container-category{
    margin-top: 90px;
} 
.mainText{
    margin-left: 30px;
}



